<div class="container text-center">
  <div class="parallax">
    <div class="parallax__layer parallax__layer--back">
    </div>
    <div class="parallax__layer parallax__layer--slow">
    </div>
    <div class="parallax__layer parallax__layer--base">
    </div>
  </div>
    <h1>About Me</h1>
    <p>About TEST</p>
    <p>About TEST 2</p>
</div>

<div class="container text-center">
  <div class="parallax">
    <div class="parallax__layer parallax__layer--back">
    </div>
    <div class="parallax__layer parallax__layer--slow">
    </div>
    <div class="parallax__layer parallax__layer--base">
    </div>
  </div>
    <h1>About Me</h1>
    <p>About TEST</p>
    <p>About TEST 2</p>
</div>
